* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/4321131/pexels-photo-4321131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

h1 {
  font-size: 48px;
  -webkit-background-clip: text;
  color: white;
}

#app {
  text-align: center;
  height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background: linear-gradient(90deg, rgb(228, 124, 205), rgb(236, 147, 147));
  color: rgb(0, 0, 0);
}
button:hover {
  border-color: rgb(243, 144, 15);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
